jupyter-book
matplotlib
numpy
streamlit
pandas
plotly
matplotlib
ipywidgets
geos
xarray --no-binary=xarray
netcdf4 --no-binary=netcdf4
shapely --no-binary=shapely
cartopy --no-binary=cartopy
pyshp
geopandas
eccodes
scipy
glob