html,
body {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 1;
  background: #CCC;
}

.p {
  text-align: center;
  font-size: 14px;
  padding-top: 140px;
}

.fixed {
  background: black;
  height: 100px;
  min-height: 100px;
  color: white;
  text-align: center;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.plotly-graph-div {
    height: auto;
    max-width: 300px;
    background-color: #74992e;
    display: inline-block;
    resize: vertical;
}